header {
    width: 100%;
    height: 57px;
    border-bottom: 1px solid $border;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 32px;
    flex-wrap: wrap;

    & > a {
        font-weight: 700;
        text-decoration: none;
    }

    h3 {
        margin: 0;
    }
}

.row {
    display: flex;
    height: calc(100vh - 57px);
    overflow: hidden;
    flex-direction: row-reverse;

    @include for-phone-only {
        height: auto;
        display: block;
        overflow: inherit;
    }
}

.column-1 {
    flex: 2;
    padding: 32px;
    overflow-y: auto;
    border-left: 1px solid $border;
    height: 100%;

    @include for-phone-only {
        overflow-y: inherit;
        height: auto;
    }
}

.column-2 {
    flex: 3;
    padding: 10px;

    @include for-phone-only {
        height: 85vh;
    }
}

.content img {
    max-width: 100%;
}

#graph-container {
    height: 100%;
    width: 100%;
}
