@import "@primer/css/index.scss";

.row {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);
}

.column {
    grid-column: 2;
    grid-row: 1;
}

.column-2 {
    grid-column: 1;
    grid-row: 1;
}

#graph-container {
    height: 100vh;
}

.embed-service-youtube {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */

    & iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}
